.pet-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div {
  padding-left: 10%;
  padding-right: 10%;
  margin: 2%;
}

img {
  border-radius: 10%;
  width: 18rem;
  height: 12rem;
}

.pet-images-container__option-title {
  color: white;
  font-size: 0.7rem;
  position: absolute;
  top: 75%;
  left: 41%;
}
.pet-images-container__option-activity-playtime {
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  position: absolute;
  top: 84%;
  left: 35%;
}

.pet-images-container__option-activity-rest {
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  position: absolute;
  top: 84%;
  left: 39%;
}

.pet-images-container__option-activity-walks {
  color: white;
  font-size: 1rem;
  font-weight: bolder;
  position: absolute;
  top: 84%;
  left: 37%;
}

div {
  position: relative;
  display: inline-block;
}

@media (min-width: 376px) {
  p {
    display: none;
  }

  .pet-images-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  div {
    padding: 0;
    margin: 0;
  }

  img {
    width: 27rem;
    height: 28rem;
  }

  .pet-images-container__option-activity-walks {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    position: absolute;
    top: 83%;
    left: 28%;
  }

  .pet-images-container__option-title {
    color: white;
    font-size: 1.3rem;
    position: absolute;
    top: 79%;
    left: 36%;
  }

  .pet-images-container__option-activity-playtime {
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    position: absolute;
    top: 84%;
    left: 27%;
  }

  .pet-images-container__option-activity-rest {
    color: white;
    font-size: 2rem;
    font-weight: bolder;
    position: absolute;
    top: 83%;
    left: 31%;
  }

  .pet-images-container__option-1:hover p {
    display: flex;
  }
  .pet-images-container__option-2:hover p {
    display: flex;
  }
  .pet-images-container__option-3:hover p {
    display: flex;
  }
}
