.pet-images-container {
  display: flex;
  flex-wrap: wrap;
}

body {
  color: white;
}

div {
  padding-left: 30%;
  padding-right: 30%;
  margin: 8%;
}

img {
  border-radius: 10%;
}

.pet-images-container__option-title {
  color: white;
  font-size: 2rem;
  position: absolute;
  top: 77%;
  left: 43%;
}
.pet-images-container__option-activity-playtime {
  color: white;
  font-size: 3rem;
  font-weight: bolder;
  position: absolute;
  top: 84%;
  left: 38%;
}

.pet-images-container__option-activity-rest {
  color: white;
  font-size: 3rem;
  font-weight: bolder;
  position: absolute;
  top: 84%;
  left: 42%;
}

.pet-images-container__option-activity-walks {
  color: white;
  font-size: 3rem;
  font-weight: bolder;
  position: absolute;
  top: 84%;
  left: 40%;
}

div {
  position: relative;
  display: inline-block;
}
