body {
  font-family: Nunito;
}

.info-container {
  text-align: center;
  padding: 1rem;
}

.info-container__headings {
  text-align: center;
  margin-bottom: 1rem;
}

.headings__main-title {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: rgb(238, 100, 55);
}

.headings__more-info {
  text-shadow: 0.5rem 0.5rem 2rem rgb(212, 206, 206);
}

.info-container__button {
  font-size: 0.8rem;
  font-family: Nunito;
  font-weight: 700;
  width: 6rem;
  height: 3rem;
  color: rgb(255, 255, 255);
  background-color: rgb(238, 100, 55);
  border: 0;
  border-radius: 0% 30% 30%;
}

@media (min-width: 376px) {
  .info-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
  }

  .info-container__headings {
    text-align: left;
  }

  .headings__more-info {
    font-size: 3.5rem;
  }

  .headings__main-title {
    font-size: 1.5rem;
  }

  .info-container__button {
    align-self: center;
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
  }
}
